@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-reg: 'Roboto', sans-serif;
$border-std: 1px solid black;
$border-thick: 2px solid black;
$border-rad-std: 8px;
$border-rad-nav: 10% 10% 0% 0% / 10% 46% 10% 10%;

* {
    box-sizing: border-box;
}

html,
body,
#root,
.content {
    font-size: 1em;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    user-select: none;
    li {
        text-align: center;

    }
}