@use '../abstracts' as *;

.exps-container {
    display: flex;
    max-height: 90%;
}

// EXPS COLUMN
.exps-column {
    flex: 1;

    .exps {
        padding: 0.3em;
        margin: 0.3em 0 0.3em 0.2em;
        border-top: $border-std;
        border-left: $border-std;
        border-bottom: $border-std;
        border-radius: 4px;
        user-select: none;
        &:last-child img {
            display: block;
            margin-inline: auto;
            max-height: 2em;
            max-width: 2em;
        }
        &:not(:last-child) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                max-height: 1.3em;
                max-width: 1.3em;
                border-radius: 8px;
                &:hover {
                    background-color: #D3D3D3;
                }
            }
        }

    }
    .exp-active {
        background-color: white;
    }
    .exp-inactive {
        background-color: #D3D3D3;

        &:hover {
            background-color: white;
        }
    }


    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0.3em 0;
        font-size: 0.9rem;
        input {
            margin: 0.3em 0;
            max-width: 15vw;
            font-size: 1em;
        }

        .submit-exp {
            margin: 1em 1em;
            padding: 0.5em 2em;
        }

        .exp-btn.decline {
            margin-right: 0.5em;
        }
    }

    
}


// EXPS MAIN
.main-exp-container {
    flex: 4;
    border: $border-std;
    border-radius: $border-rad-std;
    .exps-nav {
        display: flex;
        margin: 0.3em 0;
        padding: 0;
        .exp-nav {
            padding: 0 3em;
        }
        .exp-nav-active {
            background-color: white;
        }
        .exp-nav-inactive {
            background-color: #D3D3D3;
            &:hover {
                background-color: white;
            }
        }
    }

    .protocol-steps {
        border: $border-std;
        border-radius: $border-rad-std;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .prot-step {
            border: $border-std;
            border-radius: $border-rad-std;
            margin: 0;
            padding: 1em 2em;
            background-color: #D3D3D3;
            text-align: center;
        }
    }

    .protocol-container {
        display: flex;
        max-height: $exp-protocol-height;

        > * {
            overflow-y: scroll;
            overflow-x: hidden;
            margin: 0 0 5px 5px;
        }
        .protocol-steps {
            flex: 2.5;

        }
        .protocol-options {
            flex: 1;
            user-select: none;
            border: $border-std;
            border-radius: $border-rad-std;
            .prot-opt {
                display: flex;
                justify-content: center;
                align-items: center;

                border: $border-std;
                border-radius: 8px;
                margin: 1em 0.5em 0 0.5em;
                padding: 1em 2em;
                
            }
        }
    }
}

@media (max-width: 500px) {

.exps-container {
    max-height: none;
}

.main-exp-container {
    max-height: 100%;
    .exps-nav {
        flex-direction: column;
    }
    .protocol-container {
        flex-direction: column;
        
        .protocol-options {
            margin: 0.5em;
            padding: 0;
            .prot-opt {
                margin: 1em 0.1em 0 0.1em;
                padding: 0.5em 0;
                
            }
        }
    }
}
}