.settings-container {
    text-align: center;
}

.settings-section,
.settings-subsection {
    user-select: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .deck-num {
        max-width: 150px;
    }
}

.settings-btns {
    display: flex;
    justify-content: center;
    gap: 30px;
}