@forward '../abstracts/colors';
@forward '../abstracts/fonts';

// heights
$exp-container-min-height: calc(100% - 4rem);
$exp-protocol-height: calc(100% - 27px - (0.8em));
//borders
$border-std: 1px solid black;
$border-thick: 2px solid black;
$border-rad-std: 8px;
$border-rad-nav: 10% 10% 0% 0% / 10% 46% 10% 10%;
