
.cm-deck-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;

    label {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        .cm-deck-btns input {
            margin-inline: 0.5em;
            padding: 0.3em 0.6em;
        }

        .cm-deck-active {
            background: #666699;
        }
    }
    
    .cm-deck-submit {
        padding: 0.5em 3em;
    }
}