// heights
$exp-container-min-height: calc(100% - 4rem);
$exp-protocol-height: calc(100% - 27px - (0.8em));
$min-content-height: 75vh;
//borders
$border-std: 1px solid black;
$border-thick: 2px solid black;
$border-rad-std: 8px;
$border-rad-nav: 10% 10% 0% 0% / 10% 46% 10% 10%;
// colors
$color-active: white;
$color-inactive: #D3D3D3;


// outer boxes positioning
.cm-protocol-content {
    display: flex;
    justify-content: center;
    gap: 4em;
    user-select: none;


    .protocol-base-container,
    .protocol-module-container {
        // margin-inline: 5vw;
    }
}

// lhs box
.protocol-base {
    // border: $border-std;
    border-radius: $border-rad-std;
    box-shadow: 0 0 10px;
    overflow-y: scroll;
    height: 50vh;
    // width: 35vw;

    .prot-base-opt {
        display: flex;
        justify-content: center;
        align-items: center;

        border: $border-std;
        border-radius: 8px;
        margin: 1em 0.5em;
        padding: 1em 2em;

    }
}

// rhs box
.protocol-module {
    // border: $border-std;
    border-radius: $border-rad-std;
    box-shadow: 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 50vh;

    // margin-left: 5em;
    // max-width: 30vw;

    .prot-mod-step {
        // flex: 1;
        border: $border-std;
        border-radius: $border-rad-std;
        margin: 0;
        padding: 1em 2em;
        background-color: #D3D3D3;
    }

    .unfilled {
        visibility: hidden;
        padding: 0;
        height: 0.2em;
    }
}