.cm-setup-container {
    h2 {
        text-align: center;
        user-select: none;
    }

    .cm-setup-form {
        display: flex;
        flex-direction: column;

        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0.4em 0;
        }

        .cm-setup-submit{
            padding: 0.5em 3em;
            margin: 0.5em auto;
            // max-width: 400px;
        }
    }

}